body{
    background-color: rgb(255, 255, 255);
    
  }
  .navbar{
    box-shadow: 2px 2px 30px 1px rgba(128, 128, 128, 0.161);
  
  }
  
  .img{
    padding-left: 300px;
  
  }
  .background {
    background-color: gray;
  
  }
  .container-fluid {
    margin-right: 250px ;
    
  
  }
  .card-wrapper {
    display: flex;
    padding: 30px;
  
  }
  .card{
    margin-left: 20px;
    border: 0;
  }
  
  .content-title {
    height: auto;
    background-color: white;
  
    border-radius: 7px;
    padding-left: 20px;
  
    display: flex;
    align-items: center;
  
    box-shadow: 2px 2px 30px 1px rgba(128, 128, 128, 0.161);
  }
  .ConteudoCard{
  margin-top: 21px;
  margin-bottom: 21px;
   
  }
  .table-responsive{
    padding: 5px;
  }
  .content{
    display: flex;
    overflow: auto;
    box-shadow: 2px 2px 30px 1px rgba(128, 128, 128, 0.161);
  
  
  }
  